@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

$clr-primary: #fff;
$clr-primary-300: rgba(255, 255, 255, 0.8);
$clr-button: #9474cc;
$clr-secondary-200: #434956;
$clr-secondary-300: #272a2e;
$clr-secondary-400: #222529;
$clr-secondary-500: #1d1e20;

@mixin flexBox($direction: row) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

@mixin border($width: 1px, $style: solid, $color: black, $radius: 0px) {
  border: $width $style $color;
  border-radius: $radius;
}

@mixin size($width, $height) {
  width: $width;
  height: $height;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
}

*::selection {
  background-color: $clr-secondary-400;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: $clr-secondary-500;
}

::-webkit-scrollbar-thumb {
  background-color: $clr-secondary-300;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: $clr-secondary-200;
}

body,
#root {
  width: 100%;
  min-height: 100svh;
  font-size: 18px;
  color: $clr-primary-300;
  background-color: $clr-secondary-300;
  @include flexBox;
}

main {
  width: max(90%, 300px);
  max-width: 500px;
  @include flexBox(column);
  padding: 20px 0;
  margin: 0 auto;
}

main > h2 {
  color: $clr-primary;
  font-size: 35px;
}

.wrapper {
  @include size(100%, 100%);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.wrapper ol {
  width: 100%;
  height: 100%;
  @include size(100%, 100%);
}

.add-panel {
  height: 100px;
  @include flexBox;
  column-gap: 20px;
}

button {
  padding: 10px;
  background-color: $clr-button;
  color: $clr-primary;
  border: none;
  border-radius: 5px;
  font-weight: 700;

  &:active {
    box-shadow: 0 0 4px $clr-button;
  }
}

input {
  height: 36px;
  background-color: $clr-secondary-500;
  @include border(1px, solid, $clr-secondary-500, 5px);
  padding: 8px 14px;
  outline: none;
  color: $clr-primary;

  &:is(:focus, :active) {
    border-color: $clr-button;
  }
}

.item {
  @include size(90%, 50px);
  background-color: $clr-secondary-400;
  @include border(1px, solid, $clr-secondary-400, 8px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  font-size: 17px;
  margin: 0 auto 15px auto;
}

.item button {
  padding: 1px;
  @include size(30px, 30px);
  background-color: transparent;
}

.item img {
  @include size(28px, 28px);
}

ol {
  list-style-type: none;
}
